body { min-width: 1340px; background: teal;
    color: white;}
code {
  background: #2db34a;
  border-radius: 0px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 16px 16px;
  text-align: center;
}
header,
menublock,      
footer {
  margin: 0 16px 16px 16px;
}
section {
  
  vertical-align:top;
  display: inline-block;
  width: 100%;
  padding:0px;
  margin: 0 16px 0 0;
}
      aside {
        margin:16px;
          display: inline-block;
  width: 21%;
      }
      menublock{padding :0px;}
footer {
  margin-top:16px;
  margin-bottom: 0;
}