body { min-width: 1340px;    background: teal;
    color: white; }
code {
  background: #2db34a;
  border-radius: 0px;
  color: #000;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 16px 16px;
  text-align: center;
}
aside {
  border-radius: 4px;
}
header,
menublock,      
footer {
  margin: 0 16px 16px 16px;
}
header,
aside,      
footer,nav,section{ border:3px #00B344 solid;border-radius:16px;}
section {
  float:right;
  vertical-align:top;
  display: inline-block;
  width: 73%;
  padding:0px;
  margin: 0 16px 0 0;
}
      aside {
        margin:16px;
          display: inline-block;
  width: 21%;
      }
      menublock{padding :0px;}
footer {
  margin-top:16px;
  margin-bottom: 0;
}