    <header>
      <table  style="width: 100%;"  border="0">
        <tbody>
          <tr>
            <td  style="width: 50%;text-align:right">
              <h1  style="text-align: center;"> Робота з Молоддю</h1>
            </td>
            <td  style="width: 50%;"><img  style="height:144px;margin-left:36px"

                 alt=""  src="images/nastya/nastya_index.png"> </td>
          </tr>
        </tbody>
      </table>
    </header>
    <menublock>
      <ul  class="nav">
        <li><a  href="index.php">Головна</a></li>
        <li><a  href="otchet_spm_2015.html">СПМ</a></li>
        <li><a  href="">Історичне фехтування</a></li>
        <li><a  href="drones.html">Квадрокоптінг</a></li>
        <!--<li  class="drop">Секції
          <ul>            <li><a  href="">Історичне фехтування</a></li>            <li><a  href="drones.html">Квадрокоптінг</a></li>          </ul>        </li> -->
        <!-- <li><a href="">Контакти</a></li>-->
      </ul>
    </menublock>
